## Konfigurasi untuk Continous Integration

language: java

jdk:
    - oraclejdk8

services:
    - mysql

before_install: 
    - mysql -uroot -e "grant all on belajar.* to root@localhost identified by 'root'"
    - mysql -uroot -e "drop database if exists belajar"
    - mysql -uroot -e "create database belajar"    
